body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin: 0; 
}
/* ------------------
This is The Heading part in this project
------------------ */

/* This is Animation Transation part  */
.head-part{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    background-color: #2D25A0;
    width: 1440px;
    height: 677px; 
    transition: 5s linear 3s;

}
/* This is Animation Transation part  */
.head-part:hover{
    background-color: yellowgreen;
    
}
.content{
    padding-top: 207px ;
    padding-left: 156px;
    padding-bottom: 240px;
}
.heading-text{
    color: #FFFFFF;
    font-size: 64px;
    
}
.image-part img{
    width: 556.01px;
    height: 438px;
    padding-top: 153px;
    padding-bottom: 86px;
    padding-right: 140.99px;
}
/* This is Animation Transation part  */
button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
   border: none;
   color: #FFFFFF;
   transition: width 10s;
    
}
/* This is Animation Transation part  */
button:hover{
    background-image: linear-gradient(orange,tomato);
    width: 200px;
}
button i{
    padding-left: 12px;
    height: 16px;
    width: 14px;
}
/* -----------------
This is the main part Style 
------------------ */
main{
    background-color: #FFFFFF;
    padding-top: 70px;
}
.player-part{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    padding-left: 160px; 
    padding-right: 210px; 

  
}
.sub-part-player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin: 20px;
    text-align: right;
}
.player-informayion{
    text-align: justify;
}
.player-photo img{
    width: 300px;
    height: 256px;
   

}
h2{
    font-size: 28px;
}
/* -----------------
This is The footer part in this project 
------------------------------- */
.icon .background-color{
    
    justify-content: center;
    background-color: gray;
    border-radius: 50%;
    margin: 0px 8px;
   

}
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}
/*----------------------
 Media Quaries part and Responsive section 
---------------------- */

/* Mobile Devices  */
@media only screen and (max-width:688px){

.heading-text{
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: justify;
    
}

.head-part{
    background-color: indigo;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);

   
    
}
.player-part{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 10%;

}
main{
    width: 100%;
}
footer{
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
}
/* Tablet Devices  */
@media only screen and (max-width: 688px) and (min-width: 992px)  {

    .head-part{
        background-color: green;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .player-part{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        padding: 10%;
    }
} 
